.Theme.page > ul {
  margin: auto;
  border-bottom: none;
}

.Theme.page > ul > li {
  background-color: inherit;
  margin: 1rem;
}

.Theme.page > ul > li > a {
  font-size: 14px;
  min-height: 32px;
  border-bottom-color: rgb(98, 100, 167);
}

.center {
  text-align: center;
}
